<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bankapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA6nwMcd7aYN7X_ZU9Y9ORFQpj96KPWI74">

        </meta-data>

        <activity android:name=".MainActivity"
            android:exported="true"> <!-- This activity is the launcher and is exported -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Declaration for AccountsActivity, not exported -->
        <activity android:name=".AccountsActivity"
            android:exported="false"/>

        <!-- Declaration for CreateAccountActivity, not exported -->
        <activity android:name=".CreateAccountActivity"
            android:exported="false"/>

        <activity android:name=".MapsActivity"
            android:exported="false"/>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>
